<%= form_for @dealer, :html => { :class => "form-horizontal dealer" } do |f| %>

    <% if @dealer.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@dealer.errors.count, "error") %> prohibited this dealer from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @dealer.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :name, :class => 'form-control' %>
    </div>
    <%= error_span(@dealer[:name]) %>
  </div>
  <div class="control-group">
    <%= f.label :main_name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :main_name, :class => 'form-control' %>
    </div>
    <%= error_span(@dealer[:main_name]) %>
  </div>
  <div class="control-group">
    <%= f.label :creation_date, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :creation_date, :class => 'form-control' %>
    </div>
    <%= error_span(@dealer[:creation_date]) %>
  </div>
  <div class="control-group">
    <%= f.label :status, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :status, :class => 'form-control' %>
    </div>
    <%= error_span(@dealer[:status]) %>
  </div>
  <div class="control-group">
    <%= f.label :address, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :address, :class => 'form-control' %>
    </div>
    <%= error_span(@dealer[:address]) %>
  </div>
  <div class="control-group">
    <%= f.label :parent_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.select(:parent_id, @entities_options) %>
    </div>
    <%= error_span(@dealer[:parent_id]) %>
  </div>
                                 


  <%= f.submit nil, :class => 'btn btn-primary' %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
            dealers_path, :class => 'btn btn-default' %>

<% end %>
