<%- model_class = Dealer -%>
<div class="page-header">
  <h2><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h2>
</div>

  <%= link_to content_tag(:i, '   Add Dealer', :class => "fa fa-plus-circle fa-lg"),
             new_dealer_path %>            
  <br>
  <br>
  <table class="table table-hover">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th><%= model_class.human_attribute_name(:main_name) %></th>
      <th><%= model_class.human_attribute_name(:creation_date) %></th>
      <th><%= model_class.human_attribute_name(:status) %></th>
      <th><%= model_class.human_attribute_name(:address) %></th>
      <th><%= model_class.human_attribute_name(:parent_id) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @dealers.each do |dealer| %>
      <tr>
        <td><%= link_to dealer.id, dealer_path(dealer) %></td>
        <td><%= dealer.name %></td>
        <td><%= dealer.main_name %></td>
        <td><%= dealer.creation_date %></td>
        <td><%= dealer.status %></td>
        <td><%= dealer.address %></td>
        <td><%= getName(dealer.parent_id) %></td>
        <td><%=l dealer.created_at %></td>
        <td>
          <%= link_to content_tag(:i, '', :class => "fa fa-pencil fa-lg"),
                      edit_dealer_path(dealer) %>
          <%= link_to content_tag(:i, '', :class => "fa fa-trash-o fa-lg"),
                      dealer_path(dealer), :method => :delete,
                    :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) } %>

        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<p><%= link_to "Dealer List (PDF)", dealers_path(@dealers, format:"pdf")%></p>


