<%= form_for @business_unit, :html => { :class => "form-horizontal business_unit" } do |f| %>

    <% if @business_unit.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@business_unit.errors.count, "error") %> prohibited this business_unit from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @business_unit.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :short_name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :short_name, :class => 'form-control' %>
    </div>
    <%= error_span(@business_unit[:short_name]) %>
  </div>
  <div class="control-group">
    <%= f.label :long_name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :long_name, :class => 'form-control' %>
    </div>
    <%= error_span(@business_unit[:long_name]) %>
  </div>
  <div class="control-group">
    <%= f.label :creation_date, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :creation_date, :class => 'form-control' %>
    </div>
    <%= error_span(@business_unit[:creation_date]) %>
  </div>
  <div class="control-group">
    <%= f.label :status, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :status, :class => 'form-control' %>
    </div>
    <%= error_span(@business_unit[:status]) %>
  </div>
  <div class="control-group">
    <%= f.label :address, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :address, :class => 'form-control' %>
    </div>
    <%= error_span(@business_unit[:address]) %>
  </div>
  <div class="control-group">
    <%= f.label :phone, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :phone, :class => 'form-control' %>
    </div>
    <%= error_span(@business_unit[:phone]) %>
  </div>
  <div class="control-group">
    <%= f.label :parent_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.select(:parent_id, @BU_options) %>
    </div>
    <%= error_span(@business_unit[:parent_id]) %>
  </div>


  <%= f.submit nil, :class => 'btn btn-primary' %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
            business_units_path, :class => 'btn btn-default' %>

<% end %>
